
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a class="active-menu" href="index.cshtml"><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-truck fa-lg" aria-hidden="true"></i> Vehiculos<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="Agregar.cshtml">Agregar</a>
                    </li>
                    <li>
                        <a href="~/ConsultaVehiculos.cshtml">Consultar</a>
                    </li>
                    </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-user fa-lg" aria-hidden="true"></i> Empleado<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="~/Clientes.cshtml">Agregar</a>
                    </li>
                    <li>
                        <a href="ConsultarCliente.cshtml">Consultar</a>
                    </li>
                    </ul>
            </li>
 
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> Inventario<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="~/Inventario.cshtml">Mostrar mercancia</a>
                    </li>
                  
                    <li>
                  

                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-shopping-cart "></i>  Ventas<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="~/ventas.cshtml">Agregar Venta </a>
                    </li>
                    
                </ul>
</li>
        
        </ul>

    </div>

</nav>
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div id="page-inner">